.frames {
  text-align: center;
}

.frames-img {
  border-bottom: 16px solid #472715;
  border-top: 16px solid #945b3c;
  border-right: 16px solid #673e27;
  border-left: 16px solid #673e27;
  box-sizing: border-box;
}

.frames h3 {
  margin-top: 20px;
}

.frames img {
  filter: brightness(50%);
  transition: 0.3s;
}

.frames img:hover {
  filter: brightness(100%);
}
