.frames {
  text-align: center;
  background-color: pink;
}

/* .frames-img {
  border-bottom: 20px solid #3c3c3c;
  border-top: 20px solid #5f5f5f;
  border-right: 20px solid #484848;
  border-left: 20px solid #484848;
} */
