.frames {
  text-align: center;
}

.frames-img {
  border-bottom: 16px solid #2d180b;
  border-top: 16px solid #542f1a;
  border-right: 16px solid #3e2211;
  border-left: 16px solid #3e2211;
  box-sizing: border-box;
}

.frames h4 {
  margin-top: 20px;
}

.frames p {
  opacity: 30%;
}

.frames img {
  filter: brightness(50%);
  transition: 0.3s;
}

.frames img:hover {
  filter: brightness(100%);
}
