.artists {
  background-color: blue;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  gap: 60px;
}

.vertical-timeline {
  grid-row: span 5;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #f2f2f2;
  height: 2000px;
  display: flex;
}

.artist {
  max-width: 300px;
  margin: 0px auto;
}

.artist h3 {
  color: #c9a581;
  margin: 20px 0px 0px;
}

.artist p {
  margin-bottom: 20px;
}
