.checkpoint div {
  padding: 20px;
  text-align: center;
}

.scroll {
  margin: 0px auto;
  max-width: 34.15em;
}

.checkpoint {
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
}

.checkpoint:nth-child(odd) {
  border-left: 2px solid #945b3c;
  padding-left: 3em;
  transform: translateX(17em);
}

.checkpoint:nth-child(even) {
  border-right: 2px solid #945b3c;
  padding-right: 3em;
  transform: translateX(-17em);
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
  content: "";
  background-color: #945b3c;
  box-shadow: 0 0 0.5em #945b3c;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
  left: -7.7em;
}

.checkpoint:nth-child(even) div::before {
  right: -7.7em;
}
