.timeline {
  margin: 0;
  padding: 20px;
  max-width: 1200px;
  margin: 400px auto;
}

.timeline h1 {
  font-family: "Cinzel", "Maitree", serif;
  font-weight: normal;
  margin-bottom: 40px;
  text-align: center;
}

.secStart {
  text-align: center;
  color: #945b3c;
  position: relative;
  padding: 6px;
  font-weight: bold;
}

.secEnd {
  text-align: center;
  color: #945b3c;
  position: relative;
  padding: 6px;
  font-weight: bold;
}
