.home {
  background-image: url("/src/assets/saint.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.title {
  font-family: "Cinzel", serif;
  font-weight: normal;
  font-size: 7rem;
  margin-bottom: -10px;
}

.home p {
  font-size: 2rem;
}

.principal {
  margin-top: 20vh;
  text-align: center;
}

.vertical-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #f2f2f2;
  height: 540px;
  margin-top: 560px;
}

@media (max-width: 800px) {
  .title {
    font-size: 4rem;
  }
  .home {
    background-position: left;
  }
}
