.introduction-button {
  background-color: inherit;
  color: #945b3c;
  font-family: inherit;
  font-weight: bold;
  border: 2px solid #945b3c;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  bottom: 0;
  position: absolute;
}

.introduction-button:hover {
  background-color: #945b3c;
  color: #020102;
}
