.introduction-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

@media (max-width: 1100px) {
  .introduction-img {
    padding: 0 100px;
  }
  .introduction-img img {
    max-height: 200px;
  }
}

@media (max-width: 800px) {
  .introduction-img {
    padding: 0;
  }
}
