.footer {
  background-color: #0b0b0b;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 60px 0px 0px;
}

.footer-content {
  text-align: center;
  display: flex; /* Use flexbox para alinhar verticalmente */
  flex-direction: column; /* Alinhar os elementos em uma coluna */
  justify-content: center;
}

.footer h2 {
  margin-bottom: 20px;
}

.footer p {
  margin-bottom: 16px;
  transition: 0.3s;
}

.footer p:hover {
  color: #945b3c;
}

.rights {
  grid-column: span 3;
  text-align: center;
  margin-top: 60px;
  opacity: 30%;
}

.right-hand-content {
  display: flex;
  justify-content: right;
}
