.footer {
  background-color: #0c0c0c;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 100px 0px 0px;
}

.footer-content {
  text-align: center;
  position: relative;
}

.footer h2 {
  margin-bottom: 20px;
}

.footer p {
  margin-bottom: 16px;
}

.rights {
  grid-column: span 3;
  text-align: center;
  margin-top: 60px;
  opacity: 30%;
}

.right-hand-content {
  display: flex;
  justify-content: right;
}
